:root{
  --mainColor:#152028;
  --secondaryColor: #192734;
  --secondarytrans: #19273400;

  --borderColor: #164d56;

  --mainText: #fff;
  --secondaryText: #eeeeee;

  --themeDotBorder: #fff;

  --previewBg: rgb(25, 39, 52, 0.7);
  --previewShadow: #111921;
  --prevShadTrans: #1119212f;

  --buttonColor:#17a2b8;


  --imgurl1: url("images/gim2.gif");
  --imgurl2: url("images/gim3.gif");
  --imgurl3: url("images/gim4.gif");
  --imgurl4: url("images/gim1.gif");
}
