:root{
  --mainColor:#606b56;
  --secondaryColor: #515a48;
  --secondarytrans: #515a4800;

  --borderColor: #161914;

  --mainText: #fff;
  --secondaryText: #eeeeee;

  --themeDotBorder: #fff;

  --previewBg: rgb(81, 90, 72, 0.7);
  --previewShadow: #2a2f25;
  --prevShadTrans: #2a2f252f;

  --buttonColor:#669966;

  --imgurl: url("images/gim3.gif")
}
